<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>JavaEE</title>
</h:head>
<h:body>
    <h:form id="form">
        <h:selectOneMenu id="faculty"  value="#{studentBean.student.faculty}" valueChangeListener="#{studentBean.onFacultyChanged}">
            <f:selectItem itemLabel="Select Faculty" itemValue="" noSelectionOption="true"/>
            <f:selectItem itemLabel="Management" itemValue="Management"/>
            <f:selectItem itemLabel="Science" itemValue="Science and Technology"/>
            <f:ajax render="programme"/>
        </h:selectOneMenu>
    <h:panelGroup id="programme">
    <h:selectOneMenu value="#{studentBean.student.programme}" rendered="#{studentBean.student.faculty =='Management'}">
        <f:selectItem itemLabel="Select programme" itemValue="" noSelectionOption="true"/>
        <f:selectItem itemLabel="BBS" itemValue="BBS"/>
        <f:selectItem itemLabel="BBA" itemValue="BBA"/>
    </h:selectOneMenu>
        <h:selectOneMenu value="#{studentBean.student.programme}" rendered="#{studentBean.student.faculty =='Science and Technology'}">
            <f:selectItem itemLabel="Select programme" itemValue="" noSelectionOption="true"/>
            <f:selectItem itemLabel="B.E. Computer" itemValue="B.E. Computer"/>
            <f:selectItem itemLabel="BCA" itemValue="BCA"/>
        </h:selectOneMenu>
    </h:panelGroup>
    </h:form>


    <h:dataTable value="#{studentBean.studentList}" var="std">

        <h:column><f:facet name="header">First Name</f:facet>#{std.firstName}</h:column>
        <h:column><f:facet name="header">Middle Name</f:facet>#{std.middleName}</h:column>
        <h:column><f:facet name="header">Last Name</f:facet>#{std.lastName}</h:column>
        <h:column><f:facet name="header">Faculty </f:facet>#{std.faculty}</h:column>
        <h:column><f:facet name="header">Programme </f:facet>#{std.programme}</h:column>

    </h:dataTable>
</h:body>
</html>
